<h1> hey </h1>

 Hello <%= current_user.username %> | <%= link_to "Logout", destroy_user_session_path, :method => :delete, :confirm => "Are you sure?" %>

   <%= link_to "Products", products_path, :class => "btn btn-primary btn-large" %>