<div class="page-header">
<h1>New Adjustment</h1>
<ul class="nav nav-list">
  <li>  <%= link_to "Back to Home", root_path %> </li>
  <li><%= link_to "Back to List of Adjustments", adjustments_path %></li>
</ul>
</div>

<%= render :partial => "form", :locals => { :adjustment => @adjustment } %>
